.Menu__MenuTrigger {
  cursor: pointer;
}

.div-paragraph {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

.div-header-left {
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  padding-left: 14px;
}

.div-header-right {
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
}

.col-padding {
  margin-bottom: 20px;
}

/* Footer */
.footer {
  background-color: #221f3b;
  padding: 20px 0 20px 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  text-align: center;
}

.footer-link {
  color: #6f4a8e;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

.footer-link:hover {
  color: #ebebeb;
  text-decoration: none;
}

.copyright {
  font-family: "Montserrat", sans-serif;
  color: #ebebeb;
  padding-top: 30px;
  font-size: 0.8rem;
}

.icon-footer {
  width: 30px;
  height: 30px;
}

/* Navbar */
.navbar-image {
  background-image: url("../images/profile.jpeg");
  z-index: -1;
  min-height: 100vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.navbrand-landingpage {
  color: #ebebeb;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
.navbrand-page {
  color: #6f4a8e;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.navbrand-landingpage:hover {
  color: #ebebebb6;
}

.navbrand-page:hover {
  color: #6f4a8e9a;
}

.navlink-landingpage {
  color: #ebebeb;
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.navlink-page {
  color: #6f4a8e;
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.navlink-landingpage:hover {
  color: #ebebebb6;
}

.navlink-page:hover {
  color: #6f4a8e9a;
}

.navbar-toggler-icon {
  padding: 20px !important;
}

/* Landing page */
.middle-container {
  text-align: center;
  background-color: #ebebeb;
  padding: 40px;
}

.middle-container-text {
  right: 100px;
  bottom: 0px;
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  text-align: center;
  margin: 0 auto 0 auto;
  color: #221f3b;
}

/* About me */
.col-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-padding {
  padding: 10px 0;
}

.top-padding {
  padding-top: 40px;
}

.bottom-padding {
  padding-bottom: 70px;
}

.coloumn-padding {
  padding-bottom: 30px;
}

.education-header {
  padding: 10px;
  padding-left: 17px;
  font-family: "Montserrat", sans-serif;
}

.education-year {
  font-size: 1rem;
}

.education-card {
  padding: 20px;
  margin: 0 auto 0 auto;
  background-color: #dccde7;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #9a88a7c0;
  font-family: "Montserrat", sans-serif;
}

/* Work */
.work-card {
  padding: 30px;
  background-color: #dccde7;
  border-radius: 5px;
  box-shadow: 5px 5px #9a88a7c0;
}

/* CV */
.cv-div {
  margin: 20px;
  margin-left: 60px;
  min-height: calc(100vh - 250px);
  font-family: "Montserrat", sans-serif;
}
.cv-btn {
  display: inline-block;
  padding: 0.3em 1.2em;
  background-color: #6f4a8e;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.cv-btn:hover {
  border-color: #e4cbf8;
}

/* Compendium */
.compendium-header {
  font-family: "Montserrat", sans-serif;
  padding: 30px 0 40px 0;
}

.compendium-desc {
  width: 80%;
  margin: 0 auto 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.compendium-div {
  text-align: center;
  justify-content: center;
}

.compendium-image {
  margin-top: 60px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 20px black;
}

.compendium-title {
  color: #ebebeb;
  font-family: "Montserrat", sans-serif;
}

.compendium-time {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.compendium-desc {
  color: #ebebeb;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin: 0 auto 0 auto;
  padding-top: 8px;
}

.compendium-btn {
  margin-bottom: 50px;
  padding-top: 20px;
  display: inline-block;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.compendium-btn:hover {
  border-color: #ebebeb;
}
