/* Navbar */
.navbar-image {
  background-image: url("../images/profile.jpeg");
  z-index: -1;
  min-height: 100vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
